In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_df1=pd.read_csv("/content/drive/MyDrive/train_merchant_data-1561627820784.csv")
train_df2=pd.read_csv("/content/drive/MyDrive/train_order_data-1561627847149.csv")
train_df3=pd.read_csv("/content/drive/MyDrive/train-1561627878332.csv")

In [ ]:
train_df1.shape , train_df2.shape , train_df3.shape

((54213, 7), (54213, 7), (54213, 2))

In [ ]:
train_df=pd.merge(pd.merge(train_df1,train_df2,on="Merchant_ID"),train_df3,on="Merchant_ID")

In [ ]:
train_df.head()

,Ecommerce_Provider_ID,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster
0,1746213,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76,129697,3b8983a83c7b,2018-07-30 10:59:13,90,SEO,Debit Card,0
1,1746213,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169,117390,34b5eb921228,2018-06-15 11:19:47,98,SEO,Internet Banking,0
2,1746213,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121,120162,41a1c86ff08b,2018-08-13 10:06:26,95,SEO,Credit Card,0
3,1746213,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186,128228,e8c3ad80d916,2018-07-22 15:46:51,100,Direct,E-wallet,0
4,1746213,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172,136029,e71ab1f26785,2018-04-16 08:02:44,78,SEO,E-wallet,0

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ecommerce_Provider_ID       54213 non-null  int64
 1   Merchant_ID                 54213 non-null  int64
 2   Merchant_Registration_Date  54213 non-null  object
 3   Registered_Device_ID        54213 non-null  object
 4   Gender                      54213 non-null  object
 5   Age                         54213 non-null  int64
 6   IP_Address                  54213 non-null  object
 7   Customer_ID                 54213 non-null  int64
 8   Order_ID                    54213 non-null  object
 9   Date_of_Order               54213 non-null  object
 10  Order_Value_USD             54213 non-null  int64
 11  Order_Source                54213 non-null  object
 12  Order_Payment_Method        54213 non-null  object
 13  Fraudster                   54213 non-null  int64
dtypes: int64(6), object(8)
memory usage: 6.2+ MB

Feature construction

In [ ]:
train_df.shape

(54213, 14)

In [ ]:
test_df1=pd.read_csv("/content/drive/MyDrive/test_merchant_data-1561627903902.csv")
test_df2=pd.read_csv("/content/drive/MyDrive/test_order_data-1561627931868.csv")
test_df3=pd.read_csv("/content/drive/MyDrive/test-1561627952093.csv")

In [ ]:
test_df=pd.merge(pd.merge(test_df1,test_df2,on="Merchant_ID"),test_df3,on="Merchant_ID")

In [ ]:
df_ip=pd.read_csv("/content/drive/MyDrive/ip_boundaries_countries-1561628631121.csv")

In [ ]:
df_ip.head()

  lower_bound_ip_address upper_bound_ip_address    country
0                1.0.0.0              1.0.0.255  Australia
1                1.0.1.0              1.0.1.255      China
2                1.0.2.0              1.0.3.255      China
3                1.0.4.0              1.0.7.255  Australia
4                1.0.8.0             1.0.15.255      China

In [ ]:

ip_values=train_df["IP_Address"]
ip_values_test=test_df["IP_Address"]

In [ ]:
l1=[]
l2=[]
l3=[]
l4=[]
for i in range(len(ip_values)):
  l1.append(int(ip_values[i].split(".")[0]))
  l2.append(int(ip_values[i].split(".")[1]))
  l3.append(int(ip_values[i].split(".")[2]))
  l4.append(int(ip_values[i].split(".")[3]))

In [ ]:
l1_t=[]
l2_t=[]
l3_t=[]
l4_t=[]
for i in range(len(ip_values_test)):
  l1_t.append(int(ip_values_test[i].split(".")[0]))
  l2_t.append(int(ip_values_test[i].split(".")[1]))
  l3_t.append(int(ip_values_test[i].split(".")[2]))
  l4_t.append(int(ip_values_test[i].split(".")[3]))

In [ ]:
data = []
data.append(l1)
data.append(l2)
data.append(l3)
data.append(l4)
df = pd.DataFrame(data).transpose()

In [ ]:
df.columns=['part_1', 'part_2',"part_3","part_4"]

In [ ]:
data_t = []
data_t.append(l1_t)
data_t.append(l2_t)
data_t.append(l3_t)
data_t.append(l4_t)
df_t = pd.DataFrame(data_t).transpose()

In [ ]:
df.head()

   part_1  part_2  part_3  part_4
0      48     151     136      76
1      94       9     145     169
2      58      94     157     121
3     193     187      41     186
4     125      96      20     172

In [ ]:
df_t.head()

     0    1    2    3
0  134  162  124   62
1  152   76   98   87
2   31  202    3  255
3   12  242  168  185
4   26   61  210   47

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_df=scaler.fit_transform(df)
scaled_df_t=scaler.transform(df_t)

scaled_df =pd.DataFrame(scaled_df)
scaled_df_t=pd.DataFrame(scaled_df_t)


scaled_df.columns=df.columns
scaled_df_t.columns=df_t.columns

In [ ]:
scaled_df.head()

     part_1    part_2    part_3    part_4
0 -1.067730  0.327375  0.115922 -0.705553
1 -0.448644 -1.589031  0.238183  0.557498
2 -0.933146 -0.441886  0.401198 -0.094400
3  0.883738  0.813225 -1.174612  0.788378
4 -0.031433 -0.414895 -1.459888  0.598242

In [ ]:
scaled_df_t.head()

          0         1         2         3
0  0.089692  0.475829 -0.047093 -0.895690
1  0.331943 -0.684811 -0.400291 -0.556160
2 -1.296523  1.015662 -1.690825  1.725481
3 -1.552233  1.555495  0.550628  0.774797
4 -1.363815 -0.887248  1.121180 -1.099408

In [ ]:
cols = df.columns[0:4]

In [ ]:
from sklearn.cluster import KMeans
def cluster(X):
    k_means = KMeans(n_clusters=7,random_state=1234)
    fitted=k_means.fit(X)
    df_t["Cluster_id"]=k_means.predict(scaled_df_t)

    return X.groupby(fitted.labels_)\
            .transform('mean').sum(1)\
            .rank(method='dense').sub(1)\
            .astype(int).to_frame()

df['Cluster_id'] = df.groupby('part_1')[cols].apply(cluster)

In [ ]:
cluster(X=scaled_df)

       0
0      2
1      1
2      1
3      5
4      1
...   ..
54208  3
54209  1
54210  4
54211  1
54212  4

[54213 rows x 1 columns]

In [ ]:
df_t["Cluster_id"]

0        4
1        3
2        2
3        5
4        4
        ..
13549    6
13550    2
13551    6
13552    1
13553    4
Name: Cluster_id, Length: 13554, dtype: int32

In [ ]:
df_t.columns=['part_1', 'part_2',"part_3","part_4"]

ValueError: ignored

In [ ]:
train_df["ip_cluster_no"]=df["Cluster_id"]
test_df["ip_cluster_no"]=df_t["Cluster_id"]

In [ ]:
train_df.head()

,Ecommerce_Provider_ID,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no
0,1746213,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76,129697,3b8983a83c7b,2018-07-30 10:59:13,90,SEO,Debit Card,0,2
1,1746213,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169,117390,34b5eb921228,2018-06-15 11:19:47,98,SEO,Internet Banking,0,3
2,1746213,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121,120162,41a1c86ff08b,2018-08-13 10:06:26,95,SEO,Credit Card,0,2
3,1746213,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186,128228,e8c3ad80d916,2018-07-22 15:46:51,100,Direct,E-wallet,0,5
4,1746213,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172,136029,e71ab1f26785,2018-04-16 08:02:44,78,SEO,E-wallet,0,1

In [ ]:
test_df.head()

,Ecommerce_Provider_ID,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,ip_cluster_no
0,1746213,53637,2018-02-11 20:50:29,PTMLBENYMQCTV,F,40,134.162.124.62,157068,a032de091f51,2018-03-09 09:09:42,60,SEO,Credit Card,4
1,1746213,243517,2018-04-06 13:19:39,HMCLDZUZPWZRR,M,39,152.76.98.87,112534,0d563f0606d6,2018-06-13 20:11:19,28,SEO,Credit Card,3
2,1746213,343640,2018-01-12 16:47:49,VLGSMAPXISSEJ,M,23,31.202.3.255,148774,18fb0fa888b6,2018-04-14 04:19:36,75,Ads,Debit Card,2
3,1746213,69889,2018-02-19 21:58:52,ZINHISBBOKQXT,M,34,12.242.168.185,114528,ed1eb920d721,2018-04-01 13:55:44,98,SEO,Credit Card,5
4,1746213,125706,2018-05-17 15:50:19,WFKEAOTPHTYEO,M,20,26.61.210.47,120940,313dcf962627,2018-05-25 02:08:18,35,SEO,Credit Card,4

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ecommerce_Provider_ID       54213 non-null  int64
 1   Merchant_ID                 54213 non-null  int64
 2   Merchant_Registration_Date  54213 non-null  object
 3   Registered_Device_ID        54213 non-null  object
 4   Gender                      54213 non-null  object
 5   Age                         54213 non-null  int64
 6   IP_Address                  54213 non-null  object
 7   Customer_ID                 54213 non-null  int64
 8   Order_ID                    54213 non-null  object
 9   Date_of_Order               54213 non-null  object
 10  Order_Value_USD             54213 non-null  int64
 11  Order_Source                54213 non-null  object
 12  Order_Payment_Method        54213 non-null  object
 13  Fraudster                   54213 non-null  int64
 14  ip_cluster_no               54213 non-null  int64
dtypes: int64(7), object(8)
memory usage: 8.6+ MB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13554 entries, 0 to 13553
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ecommerce_Provider_ID       13554 non-null  int64
 1   Merchant_ID                 13554 non-null  int64
 2   Merchant_Registration_Date  13554 non-null  object
 3   Registered_Device_ID        13554 non-null  object
 4   Gender                      13554 non-null  object
 5   Age                         13554 non-null  int64
 6   IP_Address                  13554 non-null  object
 7   Customer_ID                 13554 non-null  int64
 8   Order_ID                    13554 non-null  object
 9   Date_of_Order               13554 non-null  object
 10  Order_Value_USD             13554 non-null  int64
 11  Order_Source                13554 non-null  object
 12  Order_Payment_Method        13554 non-null  object
 13  ip_cluster_no               13554 non-null  int32
dtypes: int32(1), int64(5), object(8)
memory usage: 2.0+ MB

In [ ]:
train_df.drop(["Ecommerce_Provider_ID"],axis =1, inplace =True)

In [ ]:
train_df.drop(["Customer_ID"],axis =1, inplace =True)

In [ ]:
train_df.drop(["Order_ID"],axis =1, inplace =True)

In [ ]:
train_df.drop(["Date_of_Order"],axis =1, inplace =True)

In [ ]:
train_df["Merchant_Registration_Date"] = pd.to_datetime(train_df["Merchant_Registration_Date"])

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54213 entries, 0 to 54212
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Merchant_ID                 54213 non-null  int64
 1   Merchant_Registration_Date  54213 non-null  datetime64[ns]
 2   Registered_Device_ID        54213 non-null  object
 3   Gender                      54213 non-null  object
 4   Age                         54213 non-null  int64
 5   IP_Address                  54213 non-null  object
 6   Order_Value_USD             54213 non-null  int64
 7   Order_Source                54213 non-null  object
 8   Order_Payment_Method        54213 non-null  object
 9   Fraudster                   54213 non-null  int64
 10  ip_cluster_no               54213 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 7.0+ MB

In [ ]:
grp = train_df.groupby("IP_Address")

In [ ]:
df100 = grp.get_group("216.78.95.124")

In [ ]:
df100 = df100.sort_values("Merchant_Registration_Date")

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no
22509,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1
3311,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
38014,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
46606,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1

In [ ]:
df100.reset_index(inplace =True)

In [ ]:
df100

,index,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no
0,22509,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1
1,3311,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
2,38014,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
3,46606,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1

In [ ]:
df100.drop(["index"],axis=1, inplace =True)

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no
0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1
1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1
3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1

In [ ]:
df100["Merchant_Registration_start_time"] = df100["Merchant_Registration_Date"][0]

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time
0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1,2018-01-02 23:39:54
1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54
2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54
3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54

In [ ]:
df100['diff_seconds'] = df100['Merchant_Registration_Date'] - df100['Merchant_Registration_start_time']

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds
0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1,2018-01-02 23:39:54,0 days 00:00:00
1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,0 days 00:00:02
2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,0 days 00:00:04
3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,0 days 00:00:06

In [ ]:
df100['diff_seconds']=df100['diff_seconds']/np.timedelta64(1,'s')

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds
0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1,2018-01-02 23:39:54,0.0
1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,2.0
2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,4.0
3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,6.0

In [ ]:
df100

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds
0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1,2018-01-02 23:39:54,0.0
1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,2.0
2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,4.0
3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,6.0

In [ ]:
df100.reset_index(inplace = True)

In [ ]:
df100["index"].values

array([0, 1, 2, 3])

In [ ]:

for i in list(df100["index"].values):
    if df100["diff_seconds"][i] < 60 :
        pass
        #df100["Merchant_ID"][i] = df100["Merchant_ID"][0]

In [ ]:
df100

,index,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds
0,0,20073,2018-01-02 23:39:54,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,0,1,2018-01-02 23:39:54,0.0
1,1,303993,2018-01-02 23:39:56,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,2.0
2,2,231477,2018-01-02 23:39:58,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,4.0
3,3,316937,2018-01-02 23:40:00,IBMOHINUBANBY,M,38,216.78.95.124,48,SEO,Internet Banking,1,1,2018-01-02 23:39:54,6.0

In [ ]:
train_df.head()

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no
0,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76,90,SEO,Debit Card,0,2
1,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169,98,SEO,Internet Banking,0,3
2,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121,95,SEO,Credit Card,0,2
3,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186,100,Direct,E-wallet,0,5
4,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172,78,SEO,E-wallet,0,1

In [ ]:
train_df["Merchant_Registration_start_time"]=0
train_df["Merchant_Registration_start_time"] = pd.to_datetime(train_df["Merchant_Registration_start_time"])

In [ ]:
train_df["diff_seconds"] = 0.0

In [ ]:
train_df["possibly_fraud"]=0

In [ ]:
grp = train_df.groupby("IP_Address")

In [ ]:

def fun3(j):

    df100 = grp.get_group(j)
    df100.sort_values(by=["Merchant_Registration_Date"],inplace =True)
    df100.reset_index(inplace = True )
    df100.drop(["index"],inplace = True,axis =1)

    if df100.shape[0] != 1:

        for i in range(df100.shape[0]):
             df100["Merchant_Registration_start_time"][i] = df100["Merchant_Registration_Date"][0]

        for i in range(df100.shape[0]):

            df100['diff_seconds'][i] = df100['Merchant_Registration_Date'][i] - df100['Merchant_Registration_start_time'][0]
            df100['diff_seconds'][i]=df100['diff_seconds'][i]/np.timedelta64(1,'s')

        for i in range(df100.shape[0]) :
            if df100['diff_seconds'][i] == 0:
                df100["possibly_fraud"]="No"
            else :
                df100["possibly_fraud"]="Yes"





        return df100

    else :

        df100["Merchant_Registration_start_time"] = df100["Merchant_Registration_Date"]
        df100['diff_seconds']=0.0
        df100["possibly_fraud"]="No"


        return df100

In [ ]:
train_df1=train_df.drop_duplicates(subset=["IP_Address"],keep="first")

In [ ]:
train_df1.head()

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds,possibly_fraud
0,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76,90,SEO,Debit Card,0,2,1970-01-01,0.0,0
1,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169,98,SEO,Internet Banking,0,3,1970-01-01,0.0,0
2,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121,95,SEO,Credit Card,0,2,1970-01-01,0.0,0
3,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186,100,Direct,E-wallet,0,5,1970-01-01,0.0,0
4,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172,78,SEO,E-wallet,0,1,1970-01-01,0.0,0

In [ ]:
df200 = pd.DataFrame()
for i in list(train_df["IP_Address"].values):
    df100 =fun3(i)
    df200 = df200.append(df100,ignore_index=True)

In [ ]:
df200.sample(5)

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds,possibly_fraud
17416,311550,2018-01-12 04:34:09,VKJXHMFQVNXMK,M,43,64.195.126.42,80,SEO,Internet Banking,0,5,2018-01-12 04:34:09,0.0,No
59492,388321,2018-04-15 18:51:17,BOHWOBORAAELP,F,21,223.135.54.43,70,SEO,E-wallet,0,1,2018-04-15 18:51:17,0.0,No
15910,14048,2018-06-30 23:53:24,QLWJZXGVULXSI,F,44,68.224.239.206,72,SEO,Internet Banking,0,6,2018-06-30 23:53:24,0.0,No
25207,3705,2018-01-20 16:00:49,TFHHLYPMMKIQQ,F,20,31.57.231.0,100,SEO,Credit Card,0,2,2018-01-20 16:00:49,0.0,No
59534,226936,2018-08-17 19:13:11,JDTAASWFUJGVQ,M,53,87.235.113.241,98,Ads,Internet Banking,0,6,2018-08-17 19:13:11,0.0,No

In [ ]:
df200.shape

(65397, 14)

In [ ]:
(df200["diff_seconds"].values<0).sum()

0

In [ ]:
df200.isnull().sum().sum()

0

In [ ]:
df200["Merchant_ID"].value_counts()

178490    9
323070    9
123430    9
206514    9
310285    9
         ..
87475     1
210699    1
389151    1
26199     1
259077    1
Name: Merchant_ID, Length: 54213, dtype: int64

In [ ]:
train_df_final=df200.copy()

In [ ]:
train_df_final.sample(5)

,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,Merchant_Registration_start_time,diff_seconds,possibly_fraud
25594,150638,2018-07-03 06:11:10,OJJWSTLCQMCSP,M,26,200.68.83.90,135,Ads,Debit Card,0,0,2018-07-03 06:11:10,0.0,No
14105,263559,2018-04-04 07:00:28,LMTKANYCGQRPX,M,25,191.29.202.119,138,SEO,Credit Card,0,1,2018-04-04 07:00:28,0.0,No
18255,39147,2018-01-13 11:34:41,HUJUAIKZZTISF,M,37,109.45.103.165,92,SEO,Cash On Delivery,0,4,2018-01-13 11:34:41,0.0,No
31730,187948,2018-05-21 12:20:09,QEEAKWWSNSUYX,F,20,118.248.30.38,72,SEO,Credit Card,0,4,2018-05-21 12:20:09,0.0,No
25729,340307,2018-01-29 11:14:10,OGLFROYGSAGUU,M,41,78.104.250.77,92,SEO,Internet Banking,0,3,2018-01-29 11:14:10,0.0,No

In [ ]:
train_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65397 entries, 0 to 65396
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Merchant_ID                       65397 non-null  int64
 1   Merchant_Registration_Date        65397 non-null  datetime64[ns]
 2   Registered_Device_ID              65397 non-null  object
 3   Gender                            65397 non-null  object
 4   Age                               65397 non-null  int64
 5   IP_Address                        65397 non-null  object
 6   Order_Value_USD                   65397 non-null  int64
 7   Order_Source                      65397 non-null  object
 8   Order_Payment_Method              65397 non-null  object
 9   Fraudster                         65397 non-null  int64
 10  ip_cluster_no                     65397 non-null  int64
 11  Merchant_Registration_start_time  65397 non-null  datetime64[ns]
 12  diff_seconds                      65397 non-null  object
 13  possibly_fraud                    65397 non-null  object
dtypes: datetime64[ns](2), int64(5), object(7)
memory usage: 7.0+ MB

In [ ]:
def drop_unnecessary_columns(DataFrame, cols=None):

    """ Dropping Unnecessary columns in the data set like
        high cardinality of categorical variables"""


    DataFrame.drop(columns=cols,axis=1, inplace=True)

    return DataFrame

In [ ]:
drop_unnecessary_columns(DataFrame=train_df_final, cols=["Merchant_Registration_Date","Merchant_Registration_start_time"])

,Merchant_ID,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
0,50448,VATQMMZTVOZUT,F,39,48.151.136.76,90,SEO,Debit Card,0,2,0.0,No
1,338754,LJCILLBRQZNKS,M,35,94.9.145.169,98,SEO,Internet Banking,0,3,0.0,No
2,291127,JFVHSUGKDAYZV,F,40,58.94.157.121,95,SEO,Credit Card,0,2,0.0,No
3,319919,WFRXMPLQYXRMY,M,37,193.187.41.186,100,Direct,E-wallet,0,5,0.0,No
4,195911,GGHKWMSWHCMID,F,27,125.96.20.172,78,SEO,E-wallet,0,1,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
65392,222372,KGVMENGCIAVOK,M,43,247.25.244.31,108,Ads,E-wallet,0,3,0.0,No
65393,73491,QJGPOYDONTYCN,M,41,80.30.170.122,130,Ads,Debit Card,1,5,0.0,No
65394,176456,ZOJNAJMGNRQPZ,F,36,188.39.154.217,42,Direct,Debit Card,0,4,0.0,No
65395,228277,MQAOMNZFAHZLS,M,18,116.20.101.178,82,Ads,Debit Card,0,2,0.0,No
65396,259077,AYPFCYPYQLLMO,F,31,171.47.212.179,98,SEO,E-wallet,0,5,0.0,No

In [ ]:
drop_unnecessary_columns(DataFrame=train_df_final, cols=["Merchant_ID"])

,Registered_Device_ID,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
0,VATQMMZTVOZUT,F,39,48.151.136.76,90,SEO,Debit Card,0,2,0.0,No
1,LJCILLBRQZNKS,M,35,94.9.145.169,98,SEO,Internet Banking,0,3,0.0,No
2,JFVHSUGKDAYZV,F,40,58.94.157.121,95,SEO,Credit Card,0,2,0.0,No
3,WFRXMPLQYXRMY,M,37,193.187.41.186,100,Direct,E-wallet,0,5,0.0,No
4,GGHKWMSWHCMID,F,27,125.96.20.172,78,SEO,E-wallet,0,1,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...
65392,KGVMENGCIAVOK,M,43,247.25.244.31,108,Ads,E-wallet,0,3,0.0,No
65393,QJGPOYDONTYCN,M,41,80.30.170.122,130,Ads,Debit Card,1,5,0.0,No
65394,ZOJNAJMGNRQPZ,F,36,188.39.154.217,42,Direct,Debit Card,0,4,0.0,No
65395,MQAOMNZFAHZLS,M,18,116.20.101.178,82,Ads,Debit Card,0,2,0.0,No
65396,AYPFCYPYQLLMO,F,31,171.47.212.179,98,SEO,E-wallet,0,5,0.0,No

In [ ]:
drop_unnecessary_columns(DataFrame=train_df_final, cols=["Registered_Device_ID"])
drop_unnecessary_columns(DataFrame=train_df_final, cols=["IP_Address"])

,Gender,Age,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
0,F,39,90,SEO,Debit Card,0,2,0.0,No
1,M,35,98,SEO,Internet Banking,0,3,0.0,No
2,F,40,95,SEO,Credit Card,0,2,0.0,No
3,M,37,100,Direct,E-wallet,0,5,0.0,No
4,F,27,78,SEO,E-wallet,0,1,0.0,No
...,...,...,...,...,...,...,...,...,...
65392,M,43,108,Ads,E-wallet,0,3,0.0,No
65393,M,41,130,Ads,Debit Card,1,5,0.0,No
65394,F,36,42,Direct,Debit Card,0,4,0.0,No
65395,M,18,82,Ads,Debit Card,0,2,0.0,No
65396,F,31,98,SEO,E-wallet,0,5,0.0,No

In [ ]:
train_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65397 entries, 0 to 65396
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                65397 non-null  object
 1   Age                   65397 non-null  int64
 2   Order_Value_USD       65397 non-null  int64
 3   Order_Source          65397 non-null  object
 4   Order_Payment_Method  65397 non-null  object
 5   Fraudster             65397 non-null  int64
 6   ip_cluster_no         65397 non-null  int64
 7   diff_seconds          65397 non-null  object
 8   possibly_fraud        65397 non-null  object
dtypes: int64(4), object(5)
memory usage: 4.5+ MB

In [ ]:

cat_cols_train = ["Gender","Order_Source","Order_Payment_Method","Fraudster","possibly_fraud"]
num_cols_train = ["Age","Order_Value_USD","diff_seconds"]


def convert_columns_types(DataFrame, cols=None, col_type = None):

    """conversion of Data types as per Business context"""

    print('Before conversion:\n', DataFrame.dtypes,'\n')
    DataFrame[cols] = DataFrame[cols].astype(col_type)
    print('After conversion:\n', DataFrame.dtypes,'\n')
    return DataFrame

In [ ]:
convert_columns_types(DataFrame=train_df_final, cols=cat_cols_train, col_type ="category")

Before conversion:
 Gender                  object
Age                      int64
Order_Value_USD          int64
Order_Source            object
Order_Payment_Method    object
Fraudster                int64
ip_cluster_no            int64
diff_seconds            object
possibly_fraud          object
dtype: object

After conversion:
 Gender                  category
Age                        int64
Order_Value_USD            int64
Order_Source            category
Order_Payment_Method    category
Fraudster               category
ip_cluster_no              int64
diff_seconds              object
possibly_fraud          category
dtype: object

,Gender,Age,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
0,F,39,90,SEO,Debit Card,0,2,0.0,No
1,M,35,98,SEO,Internet Banking,0,3,0.0,No
2,F,40,95,SEO,Credit Card,0,2,0.0,No
3,M,37,100,Direct,E-wallet,0,5,0.0,No
4,F,27,78,SEO,E-wallet,0,1,0.0,No
...,...,...,...,...,...,...,...,...,...
65392,M,43,108,Ads,E-wallet,0,3,0.0,No
65393,M,41,130,Ads,Debit Card,1,5,0.0,No
65394,F,36,42,Direct,Debit Card,0,4,0.0,No
65395,M,18,82,Ads,Debit Card,0,2,0.0,No
65396,F,31,98,SEO,E-wallet,0,5,0.0,No

In [ ]:
convert_columns_types(DataFrame=train_df_final, cols=num_cols_train, col_type ="float")

Before conversion:
 Gender                  category
Age                        int64
Order_Value_USD            int64
Order_Source            category
Order_Payment_Method    category
Fraudster               category
ip_cluster_no              int64
diff_seconds              object
possibly_fraud          category
dtype: object

After conversion:
 Gender                  category
Age                      float64
Order_Value_USD          float64
Order_Source            category
Order_Payment_Method    category
Fraudster               category
ip_cluster_no              int64
diff_seconds             float64
possibly_fraud          category
dtype: object

,Gender,Age,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
0,F,39.0,90.0,SEO,Debit Card,0,2,0.0,No
1,M,35.0,98.0,SEO,Internet Banking,0,3,0.0,No
2,F,40.0,95.0,SEO,Credit Card,0,2,0.0,No
3,M,37.0,100.0,Direct,E-wallet,0,5,0.0,No
4,F,27.0,78.0,SEO,E-wallet,0,1,0.0,No
...,...,...,...,...,...,...,...,...,...
65392,M,43.0,108.0,Ads,E-wallet,0,3,0.0,No
65393,M,41.0,130.0,Ads,Debit Card,1,5,0.0,No
65394,F,36.0,42.0,Direct,Debit Card,0,4,0.0,No
65395,M,18.0,82.0,Ads,Debit Card,0,2,0.0,No
65396,F,31.0,98.0,SEO,E-wallet,0,5,0.0,No

In [ ]:
train_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65397 entries, 0 to 65396
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                65397 non-null  category
 1   Age                   65397 non-null  float64
 2   Order_Value_USD       65397 non-null  float64
 3   Order_Source          65397 non-null  category
 4   Order_Payment_Method  65397 non-null  category
 5   Fraudster             65397 non-null  category
 6   ip_cluster_no         65397 non-null  int64
 7   diff_seconds          65397 non-null  float64
 8   possibly_fraud        65397 non-null  category
dtypes: category(5), float64(3), int64(1)
memory usage: 2.3 MB

In [ ]:
train_info_about_null_value=pd.DataFrame()
if train_df_final.isnull().sum().sum()>0:

    train_info_about_null_value["columns"]=list(train_df_final.columns)
    train_info_about_null_value["null_value_count"]=list(train_df_final.isnull().sum())
    train_info_about_null_value["Total_no_of_values"]=train_df_final.shape[0]
    train_info_about_null_value["%_of_null_values"]=list(train_df_final.isnull().mean()*100)
    train_info_about_null_value
else:
    print("no null values")

no null values

In [ ]:
train_df_final.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Gender,65397,2,M,38487,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,65397.0,NaN,NaN,NaN,33.200239,8.599903,18.0,27.0,33.0,39.0,72.0
Order_Value_USD,65397.0,NaN,NaN,NaN,92.391822,45.854846,22.0,55.0,88.0,122.0,385.0
Order_Source,65397,3,SEO,26030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order_Payment_Method,65397,5,Credit Card,26704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fraudster,65397.0,2.0,0.0,50152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ip_cluster_no,65397.0,NaN,NaN,NaN,2.991605,1.990829,0.0,1.0,3.0,5.0,6.0
diff_seconds,65397.0,NaN,NaN,NaN,0.984969,2.62168,0.0,0.0,0.0,0.0,18.0
possibly_fraud,65397,2,No,51353,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
train_df_final.sample(5)

,Gender,Age,Order_Value_USD,Order_Source,Order_Payment_Method,Fraudster,ip_cluster_no,diff_seconds,possibly_fraud
37708,M,27.0,118.0,Direct,Credit Card,0,3,0.0,No
11983,F,36.0,30.0,SEO,Internet Banking,0,4,0.0,No
41237,M,38.0,140.0,SEO,Internet Banking,0,2,0.0,No
7293,F,19.0,30.0,Direct,Internet Banking,0,1,0.0,No
30853,M,38.0,62.0,SEO,E-wallet,0,1,0.0,No

In [ ]:
X= train_df_final.loc[:,train_df_final.columns!="Fraudster"]
y= train_df_final["Fraudster"]

In [ ]:
y.values

[0, 0, 0, 0, 0, ..., 0, 1, 0, 0, 0]
Length: 65397
Categories (2, int64): [0, 1]

In [ ]:
X.head()

,Gender,Age,Order_Value_USD,Order_Source,Order_Payment_Method,ip_cluster_no,diff_seconds,possibly_fraud
0,F,39.0,90.0,SEO,Debit Card,2,0.0,No
1,M,35.0,98.0,SEO,Internet Banking,3,0.0,No
2,F,40.0,95.0,SEO,Credit Card,2,0.0,No
3,M,37.0,100.0,Direct,E-wallet,5,0.0,No
4,F,27.0,78.0,SEO,E-wallet,1,0.0,No

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Fraudster, dtype: category
Categories (2, int64): [0, 1]

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65397 entries, 0 to 65396
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                65397 non-null  category
 1   Age                   65397 non-null  float64
 2   Order_Value_USD       65397 non-null  float64
 3   Order_Source          65397 non-null  category
 4   Order_Payment_Method  65397 non-null  category
 5   ip_cluster_no         65397 non-null  int64
 6   diff_seconds          65397 non-null  float64
 7   possibly_fraud        65397 non-null  category
dtypes: category(4), float64(3), int64(1)
memory usage: 2.2 MB

In [ ]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,stratify=y, random_state=1234)

def get_num_cat_dataframes(DataFrame):

    """ getting numerical columns and categorical columns
        in seperate data frames
    """

    num_df = DataFrame.select_dtypes(include=['int','float'])
    cat_df = DataFrame.select_dtypes(include=['category'])
    return num_df, cat_df


X_train_num , X_train_cat = get_num_cat_dataframes(X_train)
X_test_num , X_test_cat = get_num_cat_dataframes(X_test)

In [ ]:
print(X_train_num.shape)
print(X_test_num.shape)

(45777, 4)
(19620, 4)

In [ ]:
print(X_train_cat.shape)
print(X_test_cat.shape)

(45777, 4)
(19620, 4)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45777 entries, 20268 to 26545
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                45777 non-null  category
 1   Age                   45777 non-null  float64
 2   Order_Value_USD       45777 non-null  float64
 3   Order_Source          45777 non-null  category
 4   Order_Payment_Method  45777 non-null  category
 5   ip_cluster_no         45777 non-null  int64
 6   diff_seconds          45777 non-null  float64
 7   possibly_fraud        45777 non-null  category
dtypes: category(4), float64(3), int64(1)
memory usage: 1.9 MB

In [ ]:
# one hot encoding


nominal_columns_train=X_train[["Gender","Order_Source","Order_Payment_Method","possibly_fraud"]]
nominal_columns_test=X_test[["Gender","Order_Source","Order_Payment_Method","possibly_fraud"]]

In [ ]:
# one hot encoding

from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(drop="first",sparse=False, handle_unknown="ignore")
# basically drop first column to reduce multicollinearity
# dont create sparse matrix (so that it can be in data frame )
# if there values that dont fit and if the values are in test data just ignore it dont throw an erreor


nominal_columns_train_ohe=ohe.fit_transform(nominal_columns_train)
nominal_columns_test_ohe=ohe.transform(nominal_columns_test)

nominal_columns_train_ohe=pd.DataFrame(nominal_columns_train_ohe)
nominal_columns_test_ohe=pd.DataFrame(nominal_columns_test_ohe)

#giving column names after doing one hot encoding

nominal_columns_train_ohe.columns= ohe.get_feature_names_out(nominal_columns_train.columns)
nominal_columns_test_ohe.columns=  ohe.get_feature_names_out(nominal_columns_test.columns)

In [ ]:
X_train_num=X_train[["Age","Order_Value_USD"]]
X_test_num=X_test[["Age","Order_Value_USD"]]

In [ ]:

# feature scaling using standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()


X_train_num_scaled = scaler.fit_transform(X_train_num)
X_test_num_scaled = scaler.transform(X_test_num)

X_train_num_scaled=pd.DataFrame(X_train_num_scaled)
X_test_num_scaled=pd.DataFrame(X_test_num_scaled)


X_train_num_scaled.columns = scaler.get_feature_names_out(X_train_num.columns)
X_test_num_scaled.columns = scaler.get_feature_names_out(X_test_num.columns)

In [ ]:
nominal_columns_train_ohe.reset_index(inplace=True)

nominal_columns_train_ohe.drop(["index"],axis=1,inplace=True)

In [ ]:
X_train_num_scaled.reset_index(inplace=True)
X_train_num_scaled.drop(["index"],axis=1,inplace=True)

In [ ]:
X_train_total=pd.concat([X_train_num_scaled,nominal_columns_train_ohe],axis=1)

In [ ]:
X_train_total.head()

,Age,Order_Value_USD,Gender_M,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,possibly_fraud_Yes
0,0.561309,-0.534303,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.444797,-0.055634,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,1.143868,2.163646,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.910844,-0.969456,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,-1.186368,-1.034729,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
X_train_total.isnull().sum().sum()

0

In [ ]:
nominal_columns_test_ohe.reset_index(inplace=True)
nominal_columns_test_ohe.drop(["index"],axis=1,inplace=True)

In [ ]:
X_test_total=pd.concat([X_test_num_scaled,nominal_columns_test_ohe],axis=1)

In [ ]:
X_test_total.isnull().sum().sum()

0

In [ ]:
X_test_total.sample(5)

,Age,Order_Value_USD,Gender_M,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,possibly_fraud_Yes
5092,-0.254273,-1.361094,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
6109,0.910844,0.923460,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4938,-0.953344,-0.164423,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10460,2.425497,-0.534303,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6802,-0.953344,1.467401,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
X_train_total.shape

(45777, 10)

In [ ]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
X_train_total, y_train = oversample.fit_resample(X_train_total, y_train)
X_train_total=pd.DataFrame(X_train_total)
y_train=pd.DataFrame(y_train)

In [ ]:
X_train_total.sample(50)

,Age,Order_Value_USD,Gender_M,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Credit Card,Order_Payment_Method_Debit Card,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,possibly_fraud_Yes
39133,0.211774,0.705883,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
53270,0.677821,-0.599576,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
61391,-1.577517,-0.992769,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24772,0.328285,0.814672,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4085,1.260380,-0.882425,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
64428,-1.768927,-1.361094,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
7190,-1.069856,0.270730,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
38951,-0.254273,0.053154,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
61366,-1.344639,1.366798,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
17265,-0.021250,-0.490788,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
17240,-1.652415,1.510917,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
45511,-0.370785,-0.229696,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
27083,1.609915,-1.034729,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
63734,-1.069856,0.118427,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
28500,0.211774,-0.708364,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4758,-0.137762,0.597095,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
49895,0.910844,2.294192,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
33249,-1.069856,-0.012119,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
55515,0.794333,-1.252305,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
65958,-0.370785,0.270730,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
35681,-0.487297,2.729345,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44353,-0.370785,-0.751879,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
47052,-0.487297,-0.534303,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
45941,0.561309,-0.534303,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3507,-0.487297,-0.925941,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
15442,-1.302879,2.294192,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49212,-0.137762,1.135225,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11230,-1.419391,-0.229696,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
25615,0.677821,-1.469882,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
49117,-1.652415,0.270730,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
42553,1.027356,-1.317578,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
68255,1.260380,0.336003,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4335,-0.254273,-0.381999,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
35899,-1.069856,1.423886,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
57436,-0.720321,-0.229696,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
6677,1.027356,0.053154,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
66690,-0.254273,-0.447272,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
36064,-1.069856,-1.317578,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
19263,0.677821,-0.751879,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
53602,-0.137762,-0.164423,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
11050,-0.254273,-0.447272,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43700,0.211774,-0.381999,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
26389,0.444797,0.814672,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
22023,-1.419391,-1.034729,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
34594,0.328285,-0.969456,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
21691,-1.069856,1.358613,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
30844,-1.302879,0.270730,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
35215,1.027356,-1.535155,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25373,2.425497,1.423886,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
15765,-0.254273,-0.969456,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
y_train.value_counts()

Fraudster
0            35106
1            35106
dtype: int64

In [ ]:
# importing neccessary modules for Model Building
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score,recall_score,f1_score

In [ ]:

# creating instances for different classes
dt = DecisionTreeClassifier()
svc= SVC()
knn = KNeighborsClassifier()
rf = RandomForestClassifier()

In [ ]:
def display_train_scores(actuals,predictions):
    train_accuracy=accuracy_score(actuals,predictions )
    train_precision=precision_score(actuals,predictions)
    train_recall=recall_score(actuals,predictions)
    train_f1=f1_score(actuals,predictions)

    print("Train Accuracy = ",round(train_accuracy*100,4))
    print("Train Precision = ",round(train_precision*100,4))
    print("Train Recall = " , round(train_recall*100,4))
    print("Train F1 = " , round(train_f1*100,4))

In [ ]:

def display_test_scores(actuals,predictions):
    test_accuracy=accuracy_score(actuals,predictions )
    test_precision=precision_score(actuals,predictions)
    test_recall=recall_score(actuals,predictions)
    test_f1=f1_score(actuals,predictions)


    print("Test Accuracy = ",round(test_accuracy*100,4))
    print("Test Precision = ",round(test_precision*100,4))
    print("Test Recall = " , round(test_recall*100,4))
    print("Test F1 = " , round(test_f1*100,4))

In [ ]:
rf1=RandomForestClassifier(max_depth=10,n_estimators=200,oob_score=True,max_samples =0.5)
clf1=rf1.fit(X_train_total,y_train)
train_pred=clf1.predict(X_train_total)
test_pred=clf1.predict(X_test_total)

In [ ]:
display_train_scores(actuals=y_train,predictions=train_pred)

Train Accuracy =  90.9374
Train Precision =  97.1862
Train Recall =  84.3161
Train F1 =  90.2948

In [ ]:
display_test_scores(actuals=y_test,predictions=test_pred)

Test Accuracy =  94.4597
Test Precision =  91.3446
Test Recall =  84.2151
Test F1 =  87.6351

In [ ]:
dt1=DecisionTreeClassifier(max_depth=10)
clf1=dt1.fit(X_train_total,y_train)
train_pred=clf1.predict(X_train_total)
test_pred=clf1.predict(X_test_total)

In [ ]:
display_train_scores(actuals=y_train,predictions=train_pred)

Train Accuracy =  92.1666
Train Precision =  97.2818
Train Recall =  86.7572
Train F1 =  91.7186

In [ ]:
display_test_scores(actuals=y_test,predictions=test_pred)

Test Accuracy =  94.4241
Test Precision =  91.3498
Test Recall =  84.0402
Test F1 =  87.5427

In [ ]:
df_real_test=pd.read_csv("/content/test-1561627952093.csv")
df_real_test=df_real_test.sort_values(by='Merchant_ID')

In [ ]:
real_predictions=clf1.predict(test)
real_predictions=pd.DataFrame(real_predictions)

In [ ]:
pd.concat([df_real_test,real_predictions],axis=1).to_csv("testing.csv")